.supplier_register {
    .ant-col {
        padding: 0;
    }

    .price_input {
        @include xs {
            margin-top: 1em;
        }
    }

    .add_service_select {
        width: 100% !important;
    }

    .add_service_group {
        @include flex;
        justify-content: space-between;
    }

    .minus_icon_col {
        @include xs {
            margin-top: 12px;
        }
    }

    .w_100 {
        width: 100%;
    }

    .agreement {
        margin-top: 12px;
    }

    .add_service_form_item {
        margin-bottom: 0;
    }

    .ant-upload-list-picture-card-container,
    .ant-upload.ant-upload-select-picture-card,
    .ant-upload-list-item {
        width: 130px;
        height: 130px;
    }

    .text_area_wrapper {
        margin-bottom: 2px;
    }

    .msg_contain {
        margin-bottom: 1.2em;

        .msgLength {
            color: $gray1;
            font-size: 0.75em;
            letter-spacing: 0.03333em;
            font-weight: 400;
            text-align: right;
            // position: absolute;
            // right: 0;
            // bottom: -20px;
        }
    }
}
