.supplier_detail {
    .gellery_wrapper {
        margin-bottom: 1.5em;
    }

    .avatar {
        margin-right: 8px;
        border: 1px solid #909090;
        padding: 5px;
        cursor: pointer;
    }

    .thumbnail_wrapper {
        margin-top: 0.7em;
    }

    .selected_img {
        border: 1px solid $themeColor;
    }

    .ant-descriptions-item-content {
        background-color: #fafafa;
        font-size: 15px;
        font-weight: bold;
        color: #686868;
    }

    .ant-descriptions-title {
        color: $themeColor;
    }

    .border {
        border: 1px solid black;
    }
}
