.supplier_dashboard {

    .sale{
        background:$sky_blue !important;
        color: $white !important;
    }
    .order{
        background: $light-blue !important;
        color: $white !important;
    }
    .user{
        background:$pink !important;
        color: $white !important;
    }
    .visitor{
        background:$light-green !important;
        color: $white !important;
    }
    

    @media only screen and (max-width: 992px) {
        .status_card_wrapper {
          margin-top: 15px;
        }
      }
}


  