.supplier_detail {
    .ant-row {
        margin: auto !important;
    }

    .avatar {
        margin-right: 8px;
        border: 1px solid $gray2;
        padding: 3px;
        cursor: pointer;
    }

    .thumbnail_wrapper {
        margin-top: 0.7em;
    }

    .selected_img {
        border: 1px solid $themeColor;
    }

    .slider_img{
        max-height: 500px;
    }

    .ant-descriptions-item-content {
        font-size: 14px;
        font-weight: bold;
        color: $gray5;
    }

    .slider_card {
        :first-child {
            width: 100%;
        }

        .ant-descriptions-title {
            font-size: 22px;
            margin-bottom: 10px;
            @include truncate;
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ol {
        padding-left: 15px;
    }

}
