.register {
    .ant-col {
        padding: 0;
    }

    .price_input {
        @include xs {
            margin-top: 1em;
        }
    }

    .add_service_select {
        width: 100% !important;
    }

    .add_service_group {
        @include flex;
        justify-content: space-between;
    }

    .minus_icon_col {
        @include xs {
            margin-top: 12px;
        }
    }

    .w_100 {
        width: 100%;
    }

    .agreement {
        margin-top: 12px;
    }

    .add_service_form_item {
        margin-bottom: 0;
    }
}
