.code_verification_modal {
  .title_container {
    b {
      @include xs {
        font-size: 13px;
      }
    }

    span {
      color: $themeColor;
    }
  }

  .input_wrapper {
    width: 100%;
    margin-top: 8px;

    .ant-form-item {
      @include xs {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  .heading {
    @include xs {
      font-size: 20px;
    }
  }

  .wall_card_body {
    margin-top: 0;
  }
}
