.ant-typography {
    color: $themeColor !important;
}
.ant-divider-with-text {
    &::before {
        border-top: 1px solid $themeColor !important;
    }
    &::after {
        border-top: 1px solid $themeColor !important;
    }
}
