.admin_dashboard {
    .logo {
        margin: 16px;
        img {
            width: 32px;
        }
    }

    .ant-layout-sider-trigger {
        background-color: $themeColor;
    }

    // .ant-layout-header,
    // .ant-layout-sider-children,
    // .ant-menu {
    //     // background-color: $lightGray;
    // }

    .logo {
        @include flex;
        justify-content: flex-start;
        height: 64px;
        margin: 0;

        // img {
        //     width: 32px;
        // }
    }
}
