////////////// MAIN CAROUSEL //////////////
.main_carousel {
    img {
        width: 100%;
    }

    li.slick-active button {
        background-color: $themColor !important;
    }
}

.ant-carousel-vertical .slick-dots-right {
    right: 20px !important;
}

.slick-dots {
    width: auto !important;
}

.slick-dots li button:before {
    display: none !important;
}

////////////// ABOUT ME //////////////
.about_us {
    @include flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #f5f5f5;
    color: $white;
    height: 450px;

    .supplier_img {
        width: 100%;

        @include xs {
            display: none;
        }
        @include sm {
            display: none;
        }
    }

    .wallcard_container {
        max-width: 800px;
        padding: 0 1.5em;

        @include xs {
            padding: 0 1.5em;
        }

        @include sm {
            padding: 0 1.5em;
        }

        p {
            color: #666; // will change color
            font-weight: bold; // will change color
            font-size: 18px;
            text-transform: capitalize;
        }

        .heading {
            color: $themColor; // will change color
        }
    }
}
