////////////// ANT DESIGN MAIN CAROUSEL //////////////
.ant-carousel-vertical .slick-dots-right {
    right: 20px !important;
}

.slick-dots li button:before {
    display: none !important;
}
////////////// CARD CAROUSEL SEGMENT //////////////
.service-segment-custom-slider-left-arrow {
    left: -72px;
    z-index: 1001;
    img {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

.service-segment-custom-slider-right-arrow {
    right: -33px;
}

.service-segment-custom-slider-left-arrow,
.service-segment-custom-slider-right-arrow {
    font-size: 0;
    line-height: 0;
    top: 40%;
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    position: absolute;
    display: block;
    padding: 0;

    // img {
    //     width: 64px;
    //     height: 80px;
    // }
}

@include xs {
    .service-segment-custom-slider-right-arrow {
        right: 15px;
    }

    .service-segment-custom-slider-left-arrow {
        left: 5px;
    }

    .service-segment-custom-slider-left-arrow,
    .service-segment-custom-slider-right-arrow {
        img {
            width: 30px;
            // height: 35px;
        }
    }
}

@include sm {
    .service-segment-custom-slider-right-arrow {
        right: 35px;
    }

    .service-segment-custom-slider-left-arrow {
        left: 20px;
    }

    .service-segment-custom-slider-left-arrow,
    .service-segment-custom-slider-right-arrow {
        img {
            width: 35px;
            // height: 35px;
        }
    }
}

@include md {
    .service-segment-custom-slider-right-arrow {
        right: 15px;
    }

    .service-segment-custom-slider-left-arrow {
        left: 10px;
    }

    .service-segment-custom-slider-left-arrow,
    .service-segment-custom-slider-right-arrow {
        img {
            width: 35px;
            // height: 45px;
        }
    }
}

@include lg {
    .service-segment-custom-slider-right-arrow {
        right: 50px;
    }

    .service-segment-custom-slider-left-arrow {
        left: 10px;
    }
}

.card_carousel_segment {
    background-color: $white;
    margin-top: 63.97px;

    @include xs {
        margin-top: 20px;
    }
    @include sm {
        margin-top: 20px;
    }
    @include md {
        margin-top: 30px;
    }
}

