.contact_us {
    .text_area {
        margin-bottom: 2px;
    }
    .msg_contain {
        margin-bottom: 1.2em;

        .msgLength {
            color: #767676;
            font-size: 0.75em;
            letter-spacing: 0.03333em;
            font-weight: 400;
            text-align: right;
        }
    }
}
