.contact_us_container {
    max-width: 500px;
    height: 450px;
    margin: 0 auto;
    border-radius: $radius;
    @include animation_return;
    @include flex_col;
    align-items: unset;

    .ant-input-affix-wrapper {
        box-shadow: $b_shadow;
    }

    @include xs {
        padding: 0 1em;
    }

    .back_shadow_contain {
        @include bg_shadow;
        border-radius: $radius;
    }

    .btn_contain {
        margin-bottom: 0 !important;

        .ant-form-item-control-input-content {
            text-align: right;
        }

        button {
            background-color: $themColor;
            color: $white;
            width: 90px;
            border-radius: $radius;

            &:hover {
                border-color: $themColor;
            }
        }
    }
}

.msg_contain {
    position: relative;
    margin-bottom: 1.2em;

    .msgLength {
        position: absolute;
        right: 0;
        bottom: 0px;
        color: #767676;
        font-size: 0.75em;
        // font-family: Poppins_Regular;
        letter-spacing: 0.03333em;
        font-weight: 400;
    }
}
