.layout {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 40px 70px;

    @include xs {
        padding: 20px 0;
    }
    @include sm {
        padding: 20px 0;
    }
    @include md {
        padding: 20px 0;
        // max-width: 750px !important;
    }
    @include lg {
        padding: 20px 0;
    }
}
