footer {
  background: url("../../../assets/images/footer.webp") 100% 100% / 100% 100% no-repeat;

  ul,
  li > a {
    list-style: none;
    padding: 0;
    font-family: Poppins_Medium;
    color: $white;
    font-size: 16px;
    line-height: 2.7em;
  }

  .title {
    font-size: 24px;
  }

  .ant-col {
    display: flex;
    justify-content: center;
  }

  .copyright {
    color: $white;
    border-top: 0.1px solid #4b4b4b;
    padding: 30px;
    margin: 0;
    text-align: center;
    font-family: Poppins_Regular;
  }
}
