.ant-descriptions {
    background-color: $gray4;
    padding: 1em;
    border-radius: $radius;
    margin-top: 1.5em;

    .ant-descriptions-title {
        color: $themeColor;
        text-transform: capitalize;
    }

    .ant-descriptions-item-content {
        width: 100%;
    }
}
