.service_card {
        max-width: 200px;
        width: 100%;
        padding: 10px;
        margin: 10px;
        @include flex_col;
        justify-content: space-evenly;
        min-height: 250px;
        border-radius: 16px;
        border: 1px solid $lightGray;
        box-shadow: $shadow;
        @include animation_return;

        &:hover {
                @include animation;
        }

        .ant-btn-primary {
                max-width: 120px;
                height: 35px;
                border-radius: 4px;
                font-weight: 500;
                font-size: 12px;
        }

        .first_child {
                text-align: center;
                .heading {
                        font-weight: bold;
                        font-size: 30px;
                        margin: 0;
                        height: auto;
                        display: inline-block;
                        font-family: Lemonada-SemiBold;
                }
                .sub_heading {
                        font-weight: 600;
                        font-family: Lemonada-Regular;
                        font-size: 18px;
                        margin: 0;
                }
        }

        .title {
                margin: 0;
                font-weight: 500;
                font-size: 15px;
                font-family: Poppins_Medium;
        }

        img {
                width: 45px;
        }
}
