////////////// COMPANY CARD //////////////
.product_card_wrapper {
    @include flex;

    .ant-card {
        position: relative;
        min-width: 300px;
        max-width: 300px;
        min-height: 405px;
        max-height: 405px;
        margin: 1em;
        border-radius: 10px 10px 0 0;
        @include animation_return;
        &:hover {
            @include animation;
        }

        .ant-card-meta-description {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .ant-avatar {
            position: relative;
            top: -48px;
            width: 50px;
            height: 49px;
        }

        .ant-card-meta-avatar {
            float: none;
            padding-right: 0;
            height: 5px;
        }

        .ant-card-cover img {
            border-radius: 10px;
        }

        ul {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}
