.wallcard_container {
    width: 100%;

    .items_container {
        text-align: center;

        img {
            width: 45px;
        }

        .heading {
            font-family: Lemonada-SemiBold;
            color: $themColor;
            margin-right: .5em;
            margin-left: .5em;
        }

        .sub_heading {
            font-size: 16px;
            font-family: Lemonada-Regular;
            color: $themColor;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;

            @include xs {
                font-size: 14px;
            }
        }
    }

    .wall_card_body {
        margin-top: 30px;

        @include xs {
            margin-top: 10px;
        }
        @include sm {
            margin-top: 15px;
        }
        @include md {
            margin-top: 15px;
        }
        @include lg {
            margin-top: 30px;
        }
    }
}
