////////////// WALL CARD //////////////
.wallcard_container {
    width: 100%;

    .items_container {
        text-align: center;

        img {
            width: 45px;
        }

        .heading {
            // font-family: Lemonada-Medium;
            font-size: 40px;
            // color: map-get($color, clr_gray8);
            color: gray;
            margin: 0;
            height: 60px;

            @include xs {
                font-size: 20px;
                // height: 44px;
                // font-weight: bold;
                height: 100%;
                line-height: 1em;
                margin: 10px 0;
            }
            @include sm {
                font-size: 28px;
                height: 44px;
            }
        }

        .sub_heading {
            font-size: 14px;
            color: $themColor;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;
        }
    }

    .wall_card_body {
        margin-top: 30px;

        @include xs {
            margin-top: 10px;
        }
        @include sm {
            margin-top: 15px;
        }
        @include md {
            margin-top: 15px;
        }
        @include lg {
            margin-top: 30px;
        }
    }
}
