.buyer_login,
.buyer_register,
.supplier_login,
.supplier_register {
    @include flex_col;
    align-items: unset;
    padding: 3em 0px;
    min-height: calc(100vh - 72px);

    form {
        padding: 0 20px;
        max-width: 350px;
        margin: 0 auto;
        @include animation_return;

        .ant-input-affix-wrapper {
            box-shadow: $shadow;
        }
    }
}

.shadow {
    box-shadow: $shadow;
}
